/* 
*{margin:0;
}
body{
    height:100vh;
    background-image: linear-gradient(skyblue,blue);
} */
.container{
    width:640px;
    margin: auto;
    margin-top: 150px;
    background-color: white;
    color:#262626;
    display: flex;
    flex-direction: column;
    gap:20px;
    border-radius: 10px;
    padding:40px 50px;
    
    
    

}
.container hr{
    height:2px;
    border:none;
    background: #707070;
}
.container h2{
    font-size:27px;
    font-weight:500px;

}
.container ul li{
    display: flex;
    align-items: center;
    height:70px;
    padding-left: 15px;
    border:1px solid;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size:20px;
    cursor: pointer;
}
.container button{
    margin:auto;
    width:250px;
    height:65px;
    background: #553f9a;
    color:white;
    font-size:25px;
    font-weight:500px;
    border-radius: 8px;
    cursor: pointer;
}
.container .index{
    margin: auto;
    font-size: 18px;


}
.correct{
    background: #dffff2;
    background-color: green;
    border:green;
}
.wrong{
    background: #f2f2f2;
    background-color:red;
}